<form #cvInput class="openCVContext">
  <label class="cvBoxText" for="fname">OpenCV Function:</label>
  <select #FunctionTextToCV name="cvFunction" id="cvFunction">
    <option value="GrayImage">Gray Image</option>
    <option value="ImageThresholding">Image Thresholding</option>
    <option value="TextDetection">Text Detection</option>
  </select>
  <label class="cvBoxText" for="fname">Function Parameters:</label>
  <textarea #TextToCV class="cvBoxTextArea" name="TextArea" cols="25" rows="5"></textarea>
  <input type="button" value="Send" (click)="OpenCVCall()">
</form>

<form #MetaData class="MetaDataContext">
  <label class="MetaBoxText" for="fname">MetaData Editor:</label>
  <textarea #MetaDataText class="MetaDataTextArea" name="TextArea" cols="25" rows="5"></textarea>
  <input type="button" value="Send" (click)="SendMetaData()">
</form>

<div #area class="menu-area" (contextmenu)="contextMenu($event)" (click)="OnClick($event)">
  <canvas #canvas width="1000" height="600"></canvas>
    <div class="customContext" (click)="stopPropagation($event)" #menu>
      <ul>
        <li (click)="EditAnnotationsMode()">Edit Position</li>
        <li (click)="AddConnectionsMode()">Add Connection</li>
        <!-- <li (click)="EditConnectionsMode()">Remove Connection</li> -->
        <!-- <li (click)="EditConnectionsMode()">Edit Point Products</li> -->
        
        <li (click)="CVFunction()">Find Path</li>
        
        <li (click)="SelectStartingPointMode()">Starting Point</li>
        <li (click)="DrawPoint()">Point</li>
        <li (click)="CallMetaData()">Edit Metadata</li>
        <li (click)="SaveMetadata()">Save Metadata</li>
        <li (click)="ClearAnnotations()">Clear All</li>

        <!-- <li (click)="FreeDrawLine()">Free Draw</li> -->
        <!-- <li (click)="Text()">Text</li> -->
        <!-- <li (click)="DrawPolyline()">Polyline</li> -->
        <!-- <li (click)="DrawPolygon()">Polygon</li> -->
        <!-- <li (click)="DrawRectangle()">Rectangle</li> -->
      </ul>
    </div>
</div>

<input #textInput type="text" class="textInputPosition" (keyup.enter)="OnEnter($event)"/>
