<div class="main">
  <div class="productnav">
    <h1 align="center">Product List</h1>
    
    <form>
      <input type="text" [(ngModel)]="filterValue" name="filterValue" class="form-control">
    </form>
    

    <a *ngFor="let product of listOfProducts | filter:filterValue">
      <label>
        <input type="checkbox" 
                name="products" 
                value={{product.value}}
                (change)="updateCheckedProduct(product, $event)"/>
        {{product.name}}
      </label>
    </a>

    <b>
      <input #addButton type="submit" value="Add Product" (click)="addProduct()" hidden>
      <input #findButton type="submit" value="Find Path" (click)="findPath()" hidden>
    </b>
  </div>
</div>
  