<div class="main">
  <div class="productnav">
    <h1 align="center">Product List</h1>
    
    <form #filterBar hidden>
      <input type="text" [(ngModel)]="filterValue" name="filterValue" class="form-control" placeholder="Enter product name">
    </form>
    

    <a *ngFor="let product of listOfProducts | filter:filterValue">
      <label>
        <input type="checkbox" 
                name="products" 
                value={{product.value}}
                [checked]="product.checked"
                (change)="updateCheckedProduct(product, $event)"/>
        {{product.name}}
      </label>
      <input #removeButtons [id]="product.value" class="btn-class" type="submit" value="(-) Product" (click)="removeProduct(product.value)" hidden>
    </a>

    <b>
      <input #addButton class="btn-class" type="submit" value="(+) Product" (click)="addProduct()" hidden>
      <input #findButton class="btn-class" type="submit" value="Find Path" (click)="findPath()" hidden>
      <!-- <input #removeButton class="btn-class" type="submit" value="(-) Product" (click)="removeProduct()" hidden> -->
    </b>
  </div>
</div>
  