<div class="main">
    <div class="productnav">
      <h1 align="center">Product List</h1>
      <a *ngFor="let product of listOfProducts">
        <label>
          <input type="checkbox" 
                 name="products" 
                 value={{product.value}}
                 (change)="updateCheckedProduct(product, $event)"/>
          {{product.name}}
        </label>
      </a>

      <b>
        <input class="addButton" type="submit" value="Add Product" (click)="addProduct()">
        <input class="findButton" type="submit" value="Find Path" (click)="findPath()">
      </b>
    </div>
  </div>
  